<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobisec.myapplication">

    <!-- Quyền cần thiết để truy cập location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyApplication">

        <!-- MainActivity để APK hợp lệ -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Khai báo service với intent-filter và exported -->
        <service
            android:name=".LocationService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mobisec.intent.action.GIMMELOCATION" />
            </intent-filter>
        </service>

    </application>
</manifest>
